@model IEnumerable<ProjectSSMP.Models.Menu.IndexMenuModel>
@{
    ViewData["Title"] = "Menu Managenent";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="container">
    <h2 class="well">MenuManagenent</h2>
    <table id="example" class="responsive" >
    <thead>
        <tr>
            <th class="all">MenuName</th>
            <th class="all">MenuURL</th>
            <th class="all">MenuIcon</th>
            <th class="none">Group User</th>
            <th class="all">
                <a asp-action="AddMenu" class="btn btn-primary btn-md" style="margin-left: 15px;">Add Menu</a>
                <a asp-action="AddMenu" class="btn btn-primary btn-md" style="margin-left: 15px;">Add Menu Authen</a>
            </th>

        </tr>
    </thead>

  
    <tbody> 
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.MenuName</td>
            <td>@item.MenuUrl</td>
            <td><i class="@item.MenuIcon"></i></td>
            <td>@item.GroupName</td>
            <td>
                &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.MenuId">Edit</a>
            </td>

        </tr>


        }

       
       
      
    </tbody>
</table>
</div>








