<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Approve Function </h4>
</div>
<div class="modal-body">
    <div class="container">  
            <p>Do you want to Approve this Function ?</p>
    </div>
</div>

<div class="modal-footer">
    <form asp-controller="TimeSheet" asp-action="ApproveFunction" method="post">
            <div class="col-lg-12"> 
            @{
                SSMP.Models.TimeSheet AP =
                ViewData["ApproveData"] as SSMP.Models.TimeSheet;
            }
                <input type="hidden" id="FunctionId" name="FunctionId" value="@AP.FunctionId">
                <input type="hidden" id="TimesheetNumber" name="TimesheetNumber" value="@AP.TimeSheetNumber">
                <input type="hidden" id="ProjectNumber" name="ProjectNumber" value="@AP.ProjectNumber">
                <input type="hidden" id="UserId" name="UserId" value="@AP.UserId">
                <input type="hidden" id="TaskId" name="TaskId" value="@AP.TaskId">
                <div class="text-right" style="margin-right: 10px;">
                <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

    </form>
</div>