@model IEnumerable<ProjectSSMP.Models.Timesheet.TimeSheetInputModel>
@{
    ViewData["Title"] = "TimeSheet Page";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<div class="container">
    <h2 class="well">TimeSheet</h2>
    <table id="Timesheet" class="responsive" width="100%">
        <thead>
            <tr>

                <th>
                    Task Name
                </th>

                <th>
                    Function Name
                </th>


                <th>



                </th>
            </tr>
        </thead>
        <tbody>
            @{
               
                var timesheet = from t in Model
                                 group t by t.FunctionId into tgp
                                 select new
                                 {
                                     Key = tgp.Key,
                                     timesheet = tgp.ToList()

                                 };
            }

            @foreach (var item in timesheet)
            {
                <tr>

                    @foreach(var itme2 in item.timesheet)
                    {
                        <td>
                        
                            @itme2.TaskName

                        </td>


                        <td>
                            @itme2.FunctionName
                        </td>

                    

                    





                    <td>
                        <div class="text-right" style="margin-right: 10px;">

                            @{ 
                                var gropid = ViewData["gropid"];
                                var UserId =ViewData["UserId"];
                                IEnumerable<ProjectSSMP.Models.TimeSheet> checkfu = ViewData["checkfi"] as
                                                IEnumerable<ProjectSSMP.Models.TimeSheet>;


                                var grcheck =from c in checkfu 
                                             group c by c.FunctionId into gr
                                             select new {
                                                 Key = gr.Key
                                             };



                                if (gropid.ToString() == "50")
                                {
                                    bool check = false;
                                    foreach(var chek in grcheck)
                                    {
                                        if(itme2.FunctionId.Equals(chek.Key))
                                        {
                                            <a href="javascript:void(0);" class=" approvefun btn btn-info btn-sm"
                                                  data-id="@item.Key" >Approve</a>
                                            check = true;
                                        }

                                    }


                                    if(itme2.UserId  == UserId.ToString() && !(check))
                                    {
                                                <a href="javascript:void(0);" class="anchorDetail btn btn-info btn-sm"
                                                data-id="@item.Key">Add</a>
                                                <a asp-action="UpdateTimeSheet" class="btn btn-success btn-sm" asp-route-id="@item.Key">Update</a>

                                    }
                                            



                                }
                                else if(gropid.ToString() == "10")
                                {
                                    <a href="javascript:void(0);" class="anchorDetail btn btn-info btn-sm"
                                    data-id="@item.Key">Add</a>
                                    <a asp-action="UpdateTimeSheet" class="btn btn-success btn-sm" asp-route-id="@item.Key">Update</a>

                                }

                                else if(gropid.ToString() == "99")
                                {


                                }
                            }
                           

                            
                        </div>

                    </td>
                    }
                </tr>
                

            }
        </tbody>
    </table>

</div>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

<div id='myModalapprove' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContentapprove'></div>
        </div>
    </div>

</div>



@section scripts
    {



    <script>


        var TeamDetailPostBackURL = '/TimeSheet/AddTimeSheet/';
        $(function () {
            $(".anchorDetail").click(function () {
                //debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });


            var TeamlapprovePostBackURL = '/TimeSheet/ApproveFunction/';

            $(".approvefun").click(function () {
                //debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamlapprovePostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContentapprove').html(data);
                        $('#myModalapprove').modal(options);
                        $('#myModalapprove').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModalapprove').modal('hide');
            });





        });


        
        





    </script>

}