@model IEnumerable<ProjectSSMP.Models.Timesheet.TimeSheetInputModel>
@{
    ViewData["Title"] = "Update Status / TimeSheet";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
<h2 class="well">Update TimeSheet</h2>
 <table id="Timesheet" class="responsive" width="100%">
    <thead>
        <tr>
               
                <th>
                    Function ID
                </th>

                <th>
                    Function Name
                </th>

                <th>
                    TimeSheet ID
                </th>

                <th>
                    Start
                </th>

                <th>
                    End
                </th>

                 <th>
                    
                 
                   
                </th>
        </tr>
    </thead>
    <tbody>

        
@foreach (var item in Model) {
        <tr>
            
            <td>
              
                @Html.DisplayFor(modelItem => item.FunctionId)
            </td>


            <td>
                
                @Html.DisplayFor(modelItem => item.FunctionName)
            </td>

            <td>
              
                @Html.DisplayFor(modelItem => item.TimeSheetId)
            </td>


            <td>
                
                @Html.DisplayFor(modelItem => item.TimeSheetStart)
            </td>

            <td>
                
                @Html.DisplayFor(modelItem => item.TimeSheetEnd)
            </td>

                
            <td>
                <div class= "text-right" style="margin-right: 10px;">
      
                    <a asp-action="ConfirmTimeSheet" class="btn btn-success btn-sm" asp-route-id="@item.TimeSheetId.ToString("MM-dd-yyyy HH!mm!ss")">Update</a>
                    
                    
                    
                </div>

            </td>
        </tr>

}
    </tbody>
</table>



