@model IEnumerable<ProjectSSMP.Models.Timesheet.TimeSheetInputModel>
@{
    ViewData["Title"] = "Update Status / TimeSheet";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <h2 class="well">Update TimeSheet</h2>
    <table id="Timesheet" class="responsive" width="100%">
        <thead>
            <tr>

                

                <th>
                    Function Name
                </th>

                <th>
                    TimeSheet ID
                </th>

                <th>
                    Start
                </th>

                <th>
                    End
                </th>

                <th>



                </th>
            </tr>
        </thead>
        <tbody>
          

            @foreach (var item in Model)
            {
                <tr>

                   

                    <td>

                        @Html.DisplayFor(modelItem => item.FunctionName)
                    </td>

                    <td>
                        @Convert.ToString(string.Format("{0:dd MMMM yyyy H:mm}", item.TimeSheetId))
                        
                    </td>


                    <td>
                        @Convert.ToString(string.Format("{0:H:mm}", item.TimeSheetStart))
                        
                    </td>

                    <td>

                        @Convert.ToString(string.Format("{0: H:mm}", item.TimeSheetEnd))
                    </td>


                    <td>
                        <div class="text-right" style="margin-right: 10px;">


                            
                            <a href="javascript:void(0);" class="anchorDetail btn btn-info btn-sm"
                               data-id-t="@item.TimeSheetNumber" data-id-f="@item.FunctionId">Update</a>

                        </div>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>


<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section scripts
    {


    <script>

        var TeamDetailPostBackURL = '/TimeSheet/ConfirmTimeSheet/';
        $(function () {
            $(".anchorDetail").click(function () {
                //debugger;
                var $buttonClicked = $(this);
                var idt = $buttonClicked.attr('data-id-t');
                var idf = $buttonClicked.attr('data-id-f');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "tid": idt, "fid": idf },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}

