@model IEnumerable<ProjectSSMP.Models.Timeline.TimelineInputModel>
@{
    ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header">
                      <h2>Project :   @ViewData["ProjectName"]</h2>
                    </div>
                    <div style="display:inline-block;width:100%;overflow-y:auto;">
                    <ul class="timeline timeline-horizontal">
                        
                       

                    @foreach (var item in Model) {

                        <li class="timeline-item">
                            <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">@item.TaskName</h3>
                                    <br/>
                                    <p><small class="text-warning"><i class="glyphicon glyphicon-time"></i> Plan : @item.FunctionEnd</small></p>
                                    <p><small class="text-info"><i class="glyphicon glyphicon-time"></i> Actual : @item.ActualEnd</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Function : @item.FunctionName</p>
                                    <p>Finish By : @item.Firstname   @item.Lastname</p>
                                </div>
                            </div>
                        </li>
                   } 
                    
                    </ul>
                </div>
                </div>
            </div>

                    
    </div>

