@model IEnumerable<ProjectSSMP.Models.Home.ResultModel>
@{
        ViewData["Title"] = "Home Page";
        Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <div class="row">
        @{ 
            ProjectSSMP.Models.Home.ResultProjectModel project = ViewData["projectDetile"] as ProjectSSMP.Models.Home.ResultProjectModel;
         

        }
        
        <div class="col-lg-12 well">
            <div class="row">
                <div class="col-sm-4">Project ID : @project.ProjectId</div>
                <div class="col-sm-8">Projext Name : @project.ProjectName</div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-4">Estimated Cost : @Convert.ToString(string.Format("{0:C}", project.ProjectCost))</div>
                <div class="col-sm-4">Customer Name  : @project.CustomerName</div>
                <div class="col-sm-4">Customer Tel.  : @project.CustomerTel</div>
            </div>
            <div class="row">
                <div class="col-sm-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-6">Estimated Start Date  : @Convert.ToString(string.Format("{0:dd MMMM yyyy}", project.ProjectStart))</div>
                <div class="col-sm-6">Estimated Stop Date   : @Convert.ToString(string.Format("{0:dd MMMM yyyy}", project.ProjectEnd))</div>
                
            </div>

        </div>


    </div>


    <div class="row">
        @{
            var tackgrop = Model.GroupBy(t => t.TaskId);

        }
        
        @foreach (var item in tackgrop)
        {


            

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@item.Key">
                        @{ 
                            var task = item.GroupBy(t => t.TaskName);

                        }
                        @foreach (var itme2 in task)
                        {
                            @itme2.Key

                        }
                    </a>
                </h4>
            </div>
            <div id="@item.Key" class="panel-collapse collapse">
                <div class="panel-body">
                    @foreach(var item3 in task)
                    {
                        var tstart = item3.GroupBy(s => s.TaskStart);
                        var tend = item3.GroupBy(s => s.TaskEnd);
                        var tastart = item3.GroupBy(s => s.TActualStart);
                        var taend = item3.GroupBy(s => s.TActualEnd);


                           <div class="row">
                               @foreach(var ts in tstart){
                                   <div class="col-sm-3">@ts.Key</div>  

                               }
                                @foreach(var te in tend){
                                   <div class="col-sm-3">@te.Key</div>  

                               }
                                @foreach(var tas in tastart)
                                {
                                   <div class="col-sm-3"> @tas.Key</div>  

                               }
                               @foreach(var tas in tastart)
                                {
                                   <div class="col-sm-3"> @tas.Key</div>  

                               }                             
                              
                            </div>
                        var funt = from f in item3
                                   group f by new { f.FunctionId, f.TaskId } into grf
                                   select new
                                   {
                                       FunctionId = grf.Key.FunctionId,
                                       TaskId = grf.Key.TaskId,
                                       FunctionName = grf.ToList()


                                   };

                        @foreach(var fun in funt){
                            <div class="panel-group" id="accordion2">
                                @foreach (var fund in fun.FunctionName)
                                {


                                  <div class="panel panel-default">
                                      <div class="panel-heading">
                                          <h4 class="panel-title">
                                              <a data-toggle="collapse" data-parent="#accordion2" href="#@fun.FunctionId@fun.TaskId">
                                                @fund.FunctionName
                                              </a>
                                          </h4>
                                      </div>
                          
                                      <div id="@fun.FunctionId@fun.TaskId" class="panel-collapse collapse in">
                            
                                          <div class="panel-body">
                                              <div class="row">
                                                  <div class="col-sm-3">@fund.FunctionStart</div>
                                                  <div class="col-sm-3">@fund.FunctionEnd</div>
                                                  <div class="col-sm-3">@fund.TActualStart</div>
                                                  <div class="col-sm-3">@fund.TActualEnd</div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                }

                            </div> 

                        }
                             



                    }
                    <br />
                 
                </div>
            </div>
        </div>

}
    </div>


</div>
