<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    @{
                            var userMenu = ViewBag.userMenu;
                            
                        foreach (var data in userMenu)
                            {
                            <li>
                                <a href="@data.MenuUrl" class="@data.MenuIcon">@data.MenuName</a>

                            </li>


                        }
                    }




                </ul>
            </div>
            <!-- /gn-scroller -->



        </nav>



    </li>

    @{
        var nothi = ViewBag.nothi;
        IEnumerable<SSMP.Models.Notification.NotificationModel> nothi2 =
            ViewBag.nothi as IEnumerable<SSMP.Models.Notification.NotificationModel>;
        var notify = (from n in nothi2
                      orderby n.FunctionEnd descending
                      select n).Take(5);

        var counothi = notify.Count();
        IEnumerable<SSMP.Models.Menu.GetMenuModelcs> user = ViewBag.userMenu as IEnumerable<SSMP.Models.Menu.GetMenuModelcs>;
        var Userid = (from u in user
                      group u by u.Userid into g
                      select new
                      {
                          Userid = g.Key
                      }).FirstOrDefault();

        var usern = (from u in user
                      group u by u.Username into g
                      select new
                      {
                          Username = g.Key
                      }).FirstOrDefault();
    }


        <li class="dropdown " style="width: 120px;"> 
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
            <i class="fa fa-user fa-fw"></i> 
             
            
        </a>
        <ul class="dropdown-menu dropdown-menu-right"  >
                <li>
                    <h5 align = 'right' >
                    <font color="black">
                        <b><I>@usern.Username &nbsp;</I></b>
                    </font>
                    </h5> 
                    
                </li>
            
                <li>
                    <a asp-action="EditUser" asp-controller="UserManagement" asp-route-id="@Userid.Userid"><span class="gn-icon gn-icon-cog">Edit User</span>
                     </a>
                </li>


                <li>

                    <a asp-controller="Security" asp-action="Logout"><span class="gn-icon gn-icon-power">Logout</span></a>

                </li>
          


        </ul>
    </li>
    
    <li class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
            <i class="fa fa-bell fa-fw"></i> <span class="badge badge-notify">@counothi.ToString()</span>
            
        </a>
        <ul class="dropdown-menu dropdown-menu-right"  >
            @foreach (var itme in notify)
            {

                <li>
                    <a asp-action="TimeSheet" asp-controller="TimeSheet" asp-route-id="@itme.ProjectNumber">
                        
                        <div>
                            @{ 
                                DateTime datend = (DateTime)itme.FunctionEnd;
                                DateTime datenow = (DateTime)itme.Datenow;
                                if (datend < datenow)
                                {

                                    <strong class="text-danger">Function นี้สิ้นสุดแล้ว</strong>
                                }else if (datend>datenow)
                                {
                                    <strong class="text-danger">Function นี้ใกล้ถึงเวลาสิ้นสุด</strong>

                                }

                            }
                            
                            <div class="pull-right">Function Name : @itme.FunctionName</div>
                            <span class="pull-right text-muted">
                                    <em>End : @Convert.ToString(string.Format("{0:dd MMMM yyyy}", itme.FunctionEnd))</em>
                            </span>
                            <br/>
                        </div>
                    </a>
                </li>
               
            }


        </ul>
    </li>





</ul>