<ul id="gn-menu" class="gn-menu-main">
    <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
            <div class="gn-scroller">
                <ul class="gn-menu">
                    @{
                        var userMenu = ViewBag.userMenu;
                        foreach (var data in userMenu)
                        {
                            <li>
                                <a href="@data.MenuUrl" class="@data.MenuIcon">@data.MenuName</a>

                            </li>


                        }
                    }




                </ul>
            </div>
            <!-- /gn-scroller -->



        </nav>



    </li>

    @{
        var nothi = ViewBag.nothi;
        IEnumerable<ProjectSSMP.Models.Notification.NotificationModel> nothi2 =
            ViewBag.nothi as IEnumerable<ProjectSSMP.Models.Notification.NotificationModel>;
        var counothi = nothi2.Count();
    }
    <li>



        <a class=" gn-icon gn-icon-power" asp-controller="Security" asp-action="Logout"><span>logout</span></a>




    </li>
    <li class="dropdown ">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
            <i class="fa fa-bell fa-fw"></i> <span class="badge badge-notify">@counothi.ToString()</span>
            
        </a>
        <ul class="dropdown-menu dropdown-menu-right"  >
            @foreach (var itme in nothi2)
            {

                <li>
                    <a asp-action="TimeSheet" asp-controller="TimeSheet" asp-route-id="@itme.ProjectNumber">
                        
                        <div>
                            @{ 
                                DateTime datend = (DateTime)itme.FunctionEnd;
                                DateTime datenow = (DateTime)itme.Datenow;
                                if (datend < datenow)
                                {

                                    <strong class="text-danger">Function นี้สิ้นสุดแล้ว</strong>
                                }else if (datend>datenow)
                                {
                                    <strong class="text-danger">Function นี้ใกล้ถึงเวลาสิ้นสุด</strong>

                                }

                            }
                            
                            <div class="pull-right">Function Name : @itme.FunctionName</div>
                            <span class="pull-right text-muted">
                                    <em>End : @Convert.ToString(string.Format("{0:dd MMMM yyyy}", itme.FunctionEnd))</em>
                            </span>
                            <br/>
                        </div>
                    </a>
                </li>
               
            }


        </ul>
    </li>



</ul>