@model ProjectSSMP.Models.ProjectManagement.CreateTaskInputModel

@{
    ViewData["Title"] = "Project Management";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <h1 class="well">@ViewData["ProjectName"] <span class="glyphicon glyphicon-chevron-right"></span>  Create Task </h1>
    <!--
    <div class= "text-Left" style="margin-Left: 10px;">
    <a asp-action="Index" class="btn btn-danger btn-sm">Back</a>

    </div>

    <div class= "text-right" style="margin-right: 10px;">
    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModalAdd">Add Task</button>
    </div>
    -->
    <div class="col-lg-4">
        <div class="text-Left">
            <a asp-action="Index" class="btn btn-danger">Back</a>
        </div>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModalAdd">Add Task</button>
        </div>
    </div>


    <div class="col-lg-12">&nbsp;</div>

    <table id="example" class="responsive" width="100%">
        <thead>
            <tr>
                <th>
                    Task ID
                </th>
                <th>
                    Task Name
                </th>

                <th>
                    Status
                </th>
                
                <th>
                    <center>Estimated Start</center>
                </th>
                <th>
                    <center>Estimated End</center>
                </th>
                <th>

                   <center>Estimated Variant</center>

                </th>
                <th>



                </th>
            </tr>
        </thead>
        <tbody>

            @{
                IEnumerable<ProjectSSMP.Models.ProjectManagement.CreateTaskInputModel> createTask =
                    ViewData["CreateTask"] as IEnumerable<ProjectSSMP.Models.ProjectManagement.CreateTaskInputModel>;

                int autonum = 1;

            }

            @foreach (var item in createTask)
            {
                <tr>
                    <td>

                        @autonum
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.TaskName)
                    </td>

                     <td>

                        @Html.DisplayFor(modelItem => item.percent)
                    </td>

                    <td>

                        <center>@Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.TaskStart))</center>
                    </td>
                    <td>

                        <center>@Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.TaskEnd))</center>
                    </td>

                    <td>

                        <center>@Html.DisplayFor(modelItem => item.Timespan)</center>

                    </td>

                    <td>
                        <div class="text-right">
                        @{
                            if(item.percent == "0%" || item.percent == "-"){

                                    @Html.ActionLink("Add Function", "CreateFunction", 
                                        new {id = item.TaskId, rfc = "False"},
                                        new {@class = "btn btn-info btn-sm" })

                                    
                                    <a href="javascript:void(0);" class="anchorDetail btn btn-warning btn-sm" data-id="@item.TaskId">Edit</a>
                                    <a asp-action="Update" class="btn btn-success btn-sm" asp-route-id="@item.ProjectNumber">Update</a>
                                
                            }
                            else{
                                    @Html.ActionLink("Add RFC", "CreateFunction", 
                                        new {id = item.TaskId, rfc = "True"},
                                        new {@class = "btn btn-danger btn-sm" }) 
                                    

                                    <a href="javascript:void(0);" class="anchorDetail btn btn-warning btn-sm" data-id="@item.TaskId">Edit</a>
                                    <a asp-action="Update" class="btn btn-success btn-sm" asp-route-id="@item.ProjectNumber">Update</a>
                            }
                        }
                        </div>
                    </td>
                </tr>
                autonum++;
            }
        </tbody>

    </table>

</div>

<!-- Modal -->
<div class="modal fade" id="myModalAdd" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create Task</h4>
            </div>


            <div class="modal-body col-lg-12">
                <form asp-controller="ProjectManagement" asp-action="CreateTask" method="post">
                    <input type="hidden" value="@ViewData["ProjectNuber"]" name="ProjectNumber" id="ProjectNumber" />

                    <div class="col-sm-8 form-group">
                        <label>Task Name</label>
                        <div class="form-group">
                            <input type="text" asp-for="TaskName"  name="TaskName" id="TaskName" placeholder="Enter Task Name Here.." class="form-control">
                            @Html.ValidationMessageFor(m => m.TaskName, "", new { @class = "text-danger" })


                        </div>
                    </div>

                    <div class="col-sm-10 form-group">
                        <label>Estimated Start Date</label>
                        <div class="form-group">
                            <div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="10" type="text" asp-for="TaskStart" name="TaskStart" id="TaskStart"  >
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TaskStart, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-10 form-group">
                        <label>Estimated End Date</label>
                        <div class="form-group">
                            <div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                <input class="form-control" size="10" type="text" name="TaskEnd" id="TaskEnd" asp-for="TaskEnd" >
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TaskEnd, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>

            <div class="modal-footer">

            </div>

        </div>

    </div>
</div>





<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>

</div>

@section scripts
    {


    <script>

        var TeamDetailPostBackURL = '/ProjectManagement/EditTask/';
        $(function () {
            $(".anchorDetail").click(function () {
                //debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

    </script>

}




