@model IEnumerable<ProjectSSMP.Models.ProjectManagement.CreateFunctionInputModel>
@{
    ViewData["Title"] = "Create Function";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="container">
    <h2 class="well">Create Function </h2>

             <div class="col-lg-4">
               <div class= "text-Left">
                    <a href="javascript: history.go(-1);" class="btn btn-danger btn-md">Back</a>

                </div>
        
            </div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class= "text-right" style="margin-right: 10px;">
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Add Function</button>
                </div>
            </div>
    
    <div class="col-lg-12">&nbsp;</div>
    
    <table id="example" class="responsive" width="100%">
        <thead>
            <tr>
                <th>
                    Function ID
                </th>
                <th>
                    Function Name
                </th>

                <th>
                    Estimated Start
                </th>
                <th>
                    Estimated End
                </th>
                <th>



                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.FunctionId)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.FunctionName)
                    </td>


                    <td>

                        @Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.FunctionStart))
                    </td>
                    <td>

                        @Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.FunctionEnd))
                    </td>

                    <td>
                        <div class="text-right" style="margin-right: 10px;">
                            
                            <a asp-action="EditFunction" class="btn btn-warning btn-sm" asp-route-id="@item.FunctionId">Edit</a>
                            <a asp-action="Update" class="btn btn-success btn-sm" asp-route-id="@item.FunctionId">Update</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>

    </table>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Create Function</h4>
            </div>
                

                    <div class="modal-body col-lg-12">
                    <form asp-controller="ProjectManagement" asp-action="CreateFunction" method="post">
                        <input type="hidden" value="@ViewData["ProjectNuber"]" name="ProjectNumber" id="ProjectNumber" />
                        <input type="hidden" value="@ViewData["TaskId"]" name="TaskId" id="TaskId" />

                                <div class="col-sm-8 form-group">
                                        <label>Function Name</label>
                                    <div class="form-group">
                                        <input type="text" name="FunctionName" id="FunctionName" placeholder="Enter Task Name Here.." class="form-control">
                                    </div>
                                </div>
                       
                                <div class="col-sm-10 form-group">
                                <label>Estimated Start Date</label>
                                <div class="form-group">      
                                        <div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="10" type="text" name="FunctionStart" id="FunctionStart"  readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                            </div>

                            <div class="col-sm-10 form-group">
                                <label>Estimated End Date</label>
                                <div class="form-group">      
                                        <div class="input-group date form_date col-md-8" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                                            <input class="form-control" size="10" type="text" name="FunctionEnd" id="FunctionEnd"  readonly>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                        </div>
                                    </div>
                            </div>
                            <div class= "col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary">Submit</button> 
                        </div>
                        
                    </form>
                 </div>

                <div class="modal-footer">
                        
                 </div>
             
      </div>
      
    </div>
  </div>


