@model IEnumerable<ProjectSSMP.Models.ProjectManagement.CreateFunctionInputModel>
@{
    ViewData["Title"] = "Create Function";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="container">
    <h2 class="well">Create Function </h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Function ID
                </th>
                <th>
                    Function Name
                </th>

                <th>
                    Estimated Start
                </th>
                <th>
                    Estimated End
                </th>
                <th>



                </th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.DisplayFor(modelItem => item.FunctionId)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.FunctionName)
                    </td>


                    <td>

                        @Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.FunctionStart))
                    </td>
                    <td>

                        @Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.FunctionEnd))
                    </td>

                    <td>
                        <div class="text-right" style="margin-right: 10px;">
                            
                            <a asp-action="Edit" class="btn btn-warning btn-sm" asp-route-id="@item.FunctionId">Edit</a>
                            <a asp-action="Update" class="btn btn-success btn-sm" asp-route-id="@item.FunctionId">Update</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>


