@model IEnumerable<ProjectSSMP.Models.Project>

@{
    ViewData["Title"] = "Project Management";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<div class="container">
    <h2 class="well">Project Management</h2>


<table id="example" class="responsive" width="100%" >
    <thead>
        <tr>
                <th>
                    Project ID
                </th>
                <th>
                    Project Name
                </th>

                <th>
                    Status
                </th>

                <th>
                    Estimated Start
                </th>
                <th>
                    Estimated End
                </th>
                 <th>
                    <div class= "text-right" style="margin-right: 10px;">
                          <a asp-action="CreateProject" class="btn btn-primary btn-md" style="margin-left: 15px;">Create New</a> 
                    </div>
                       
                   
                </th>
        </tr>
    </thead>
    <tbody>
        
        
@foreach (var item in Model) {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
              
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>

            <td>
                
                @Html.DisplayFor(modelItem => item.ProjectStatus)
            </td>

            <td>
                
                @Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.ProjectStart))
            </td>
            <td>
                
                @Convert.ToString(string.Format("{0:dd MMMM yyyy}", item.ProjectEnd))
            </td>
            
            <td>
                <div class= "text-right" style="margin-right: 10px;">
                    <a asp-action="CreateTask" class="btn btn-info btn-sm" asp-route-id="@item.ProjectNumber">Add Task</a> 
                    <a asp-action="EditProject" class="btn btn-warning btn-sm" asp-route-id="@item.ProjectNumber">Edit</a> 
                    <a asp-action="Detail" class="btn btn-success btn-sm" asp-route-id="@item.ProjectNumber">Details</a> 
                </div>

            </td>
        </tr>
}
    </tbody>

</table>

</div>




